.displayFilms,
.displayTvShows, 
.displayMovies
{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    max-width: 100%;    
    flex-direction: row;
}
#moviesByCateg,
#tvShowByCateg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1%;
}
#moviesByCateg > div {
    margin-bottom: 1%; 
}
#tvShowByCateg > div{
    margin-bottom: 1%;
}

#displayCategories{
    display: flex;
    max-width: 100%;    
    flex-direction: row;
    justify-content: space-around;
    background-color: #7A7A7A;
    border-radius: 15px;
}
#displayDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;

}



header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
header img:first-child {
    width: 25%;
}
body{
    background-color: #353535;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.titre{
border-radius: 15px;
display: flex;
flex-direction: row;
justify-content: center;
}
.oneElement {

    background-color: #7a7a7a;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .banniere{
    width: 100%;
    display: flex;
    justify-content: center;
  }
.titreAndImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titreAndImg img{
    width: 30%;
}


